{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
        <p class="description">
            Hi, thanks for visiting.
            So far this is just a landing page for my academic life to be visible and to connect to fellow scientists and institutions.
            I am currently a doctoral candidate
            in "Machine Learning in Science," aka Mackelab, led by Prof. Jakob Macke at the University of Tübingen.
            Scientifically, I am excited about computational neuroscience, deep learning for computer vision, systems neuroscience, and probabilistic machine learning.
            In my main project, I develop deep learning methods to derive functional neural circuit simulations from connectomes together with Dr. Srinivas Turaga from HHMI Janelia Research Campus.
            <br>Curious? Please reach out.
        </p>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
