{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
        <p class="description">
            Hi, thanks for visiting.
            I am currently a doctoral candidate
            in "Machine Learning in Science," aka Mackelab, led by Prof. Jakob Macke at the University of Tübingen.
            We use deep learning for modeling neural circuits to increase our understanding of stimulus-evoked neural computation and behaviour in intelligent systems.
            Working together with Dr. Srinivas Turaga and other scientists from HHMI Janelia Research Campus, we incorporate realistic biophysical constraints and knowledge of the actual
            connectivity into our neural circuit models
            and compare representations in models to data measured in the biological systems.
            In particular, we derive connectome-constrained models of the Drosophila visual system, which learn to recognize e.g. movement in naturalistic movie sequences.
        </p>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
