.social-links
    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 55px
        width: 55px
        color: $zeta
        font-size: 2.25rem
        font-weight: 400

        &:hover
            color: $delta
            > svg
                color: $delta

    > svg
        transition: all ease-in-out .2s
